:root{
    --first-color: yellow;
    --second-color: rgba(255, 255, 0, 0.585);
    --thirth-color: rgba(255, 255, 0, 0.26);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content .text{
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    transform: scale(2);
    letter-spacing: 2px;
    padding: 30px;
    
}
.content .text:before,
.content .text:after{
    position: absolute;
    content: attr(data-text);
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    overflow: hidden;
}
.content .text:before{
    left: 3px;
    text-shadow: -5px 0 red;
    animation: data-text-1 2s 0s linear reverse infinite;
}
.content .text:after{
    left: -3px;
    text-shadow: -5px 0 blue;
    animation: data-text-2 2s 0s linear reverse infinite;
}


